.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 20px;
}

.controls {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(2, 40px);
}

.colorButton {
  border: 2px solid black;
  cursor: pointer;
}

.colorButton:hover {
  border: 2px solid #fff;
}

.movesColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movesRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.moveButton {
  aspect-ratio: 1 / 1;
  min-width: 120px;
  border: solid 1px gray;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease;
}

.moveButton:hover {
  background-color: gainsboro;
}

.cubeWrapper {
  padding: 64px;
}

.cube {
  position: relative;
  width: 156px;
  height: 156px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.face {
  position: absolute;
  width: 156px;
  height: 156px;
  display: grid;
  background: black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sticker {
  width: 49px;
  height: 49px;
  margin: 1px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.colorIndicator {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 100%;
}


.sticker:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.up {
  transform: rotateX(90deg) translateZ(78px);
}
.left {
  transform: rotateY(-90deg) translateZ(78px);
}
.front {
  transform: translateZ(78px);
}
.right {
  transform: rotateY(90deg) translateZ(78px);
}
.back {
  transform: rotateY(180deg) translateZ(78px);
}
.down {
  transform: rotateX(-90deg) translateZ(78px);
}

.rotationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rotationButton {
  aspect-ratio: 1 / 1;
  min-width: 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.actionsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.actionButton {
  padding: 8px;
  border: solid 1px gray;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease;
}

.actionButton:hover {
  background-color: gainsboro;
}

@media screen and (max-width: 992px) {
  .actionButton {
    width: 256px;
  }

  .actionsRow {
    flex-direction: column;
  }

  .cubeWrapper {
    padding-top: 128px;
  }
}

.solution {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  font-size: 1.7rem;
  text-align: center;
}

.solutionContainer {
  min-height: 100px;
  transition: opacity 0.4s ease;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  opacity: 0;
}
