.app {
  min-height: 100dvh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-p);
  background-color: var(--color-background-white, #fff);
}
